input {
    padding: 25px;
    height: 18px;
    width: 50vw;
    font-size: large;
    font-family: "Comic Sans MS", "Comic Sans";
}
button {
    padding: 25px;
    font-size: larger;
    background-color: #121212;
    color:#FFFF;
    border: none;
}

button:hover {
    cursor: pointer;
}